<div class="course-container">
  <div class="course-heading">
    <h3>{{course.id}} {{course.title}}</h3>
    <div class="course-information">
        <div class="course-information__duration">
          <img src="../../../assets/icons/icons8-clock-50.png" alt="">
            {{course.duration}}
        </div>
        <div class="course-information__date">
          <img src="../../../assets/icons/icons8-calendar-50.png" alt="">
            {{course.creationDate}}
        </div>
    </div>
  </div>
  <div></div>
  <p>{{course.description}}</p>
  <div class="course-buttons">
    <button class="edit-button"
    (click)="editHandler()">
        <img src="../../../assets/icons/icons8-edit-50.png" alt="">
        <span>Edit</span>
    </button>
    <button (click)="deleteHandler()">
        <img src="../../../assets/icons/icons8-delete-30.png" alt="">
        <span>Delete</span>
    </button>
  </div>
</div>
