<div class="section-container">
  <div class="content-container">
    <input type="text" placeholder="text to search" class="text-input" />
    <button class="search-button">Search</button>
    <div class="button-container">
      <button class="add-course-button">
        <span>+</span>
        Add course
      </button>
    </div>
    <app-courses 
      *ngFor="let course of coursesList; let i = index; trackBy: trackById"
      [course]="course"
      [i]="i"
      (newItemEvent)="deleteItemParent(i)"
    >
    </app-courses>
    <div class="additional-info"
    (click)="clickHandler()"
    >
      <p>Load more</p>
    </div>
  </div>
</div>
