.footer-container {
    background-color: rgb(80, 80, 80);
    margin: 0;
    padding: 20px;
    height: 4em;
    display: flex;
    justify-content: end;
    align-items:center;
}

p {
    color: rgb(216, 216, 216);
    font-size: 0.8em;
}